:root {
  --white: #fff;
  --white-accent: #fafafa;
  --blue: #00a8e7;
  --blue-hover: #00a8e7ed;
  --blue-light: #eff9fc;
  --blue-gradient: linear-gradient(to right, var(--blue), #4da3ffee);
  --secondary: #33363a;
  --secondary-hover: #33363aed;
}
