.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--blue-light);
}

.bg-primary {
  background-color: var(--blue) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}
