.icon-small {
  height: 2.5rem;
  width: auto;
}

.icon-small img {
  height: 1.5rem;
  width: auto;
}

.icon-large {
  height: 7rem;
  width: auto;
}

.icon-large img {
  height: 7rem;
  width: auto;
}

.logo {
  width: 150px;
  height: auto;
}

.logo-sm {
  width: 100px;
  height: auto;
}
