* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: auto;
}

main {
    padding: 4rem 0;
}

#chat {
    height: auto;
    width: 100%;
    aspect-ratio: 9/16;
    background: #09181d;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    outline: solid 0.25rem #ccc;
    margin: auto;

    #messages {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #message-form {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        background: #fff;
        border-top: solid 1px #222;

        input,
        button {
            border: none;
            outline: none;
            padding: 1rem;
        }

        input {
            width: 100%;
        }
    }

    .message {
        width: 100%;
        display: flex;
    }

    .from-user {
        justify-content: end;
    }

    .from-machine {
        justify-content: start;
    }

    .message .content {
        background: #fff;
        padding: 0.25rem;
        width: 60%;
        border-radius: 0.25rem;
    }
}

button,
input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: solid 1px #ccc;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

#question {
    width: 100%;
    height: 100px;
    border: solid 1px;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.correct-option {
    background-color: #2f7a5b;
    color: #fafafa;
}

.wrong-option {
    background-color: #973838;
    color: #fafafa;
}

.buttons-box {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    button {
        width: 100%;
    }
}

#previous-button {
    background-color: #ffb950;
}

#restart-button {
    background-color: #f2f550;
}

#next-button {
    background-color: #58c2ff;
}

#finish-button {
    background-color: #49fa93;
}

#result {
    padding: 1rem;
    margin: 1rem 0;
    background-color: #a5aeff;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}
